body {
  @include appearance(dark) {
    background-color: $color_blue-deep;
  }
}

.solis {
  &-container {
    padding: 0 135px;

    @include maxbreakpoint($breakpoint_laptop-l) {
      padding: 0 70px;
    }

    @include maxbreakpoint($breakpoint_laptop-s) {
      padding: 0 50px;
    }

    @include maxbreakpoint($breakpoint_tablet-l) {
      padding: 0 50px;
    }
  }

  &-center {
    text-align: center;
  }

  /** Flexbox styles **/

  &-flex-center,
  &-flex-between {
    display: flex;
    align-items: center;
  }

  &-flex-center {
    justify-content: center;
  }
  &-flex-between {
    justify-content: space-between;
  }

  /** Gaps for Flexbox / Grid **/

  &-gap-15 {
    gap: 15px;
  }

  &-gap-30 {
    gap: 30px;
  }
}