.solis {

    /********* Header style *********/ 


  &-title,
  &-subtitle {
    font-family: $font-playfair;
    font-weight: 400;
    color: $color_dark;

    @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
      color: $color_white;
    }

    &-italic {
      font-style: italic;
      color: $color_green;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
        color: $color_blue;
      }
    }
  }

  &-title {
    font-size: 44px;
    line-height: 52px;

    @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
      font-size: 34px;
    }
  }

  &-subtitle {
    font-size: 40px;
    line-height: 48px;

    @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
      font-size: 30px;
    }

    /***** Header style (Statistic section) *****/

    &--statistic {
      font-size: 68px;
      line-height: 72px;

      @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
        font-size: 50px;
      }
    }

    &--dollar {
      font-size: 40px;
    }

    /***** Header style (Trading section) *****/

    &--trading {
      font-size: 24px;
    }
  }

    /********* Text style *********/ 


  &-text {
    font-family: $font-loto;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
    color: $color_dark;

    @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
      color: $color_white;
    }

    @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
      font-size: 16px;
    }

     /***** Text style (Navbar) *****/


    &-navbar {
      font-family: $font-loto;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color_dark;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
        color: $color_white;
      }
    }

     /***** Text style (Button) *****/ 


    &-button {
      font-family: $font-loto;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $color_orange;
      transition: .4s;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
        color: $color_green-neon;
      }

      &:hover,
      &:focus {
        color: $color_orange-dark;

        @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
          color: $color_green-neon-dark;
        }
      }
    }

     /***** Text style (Quotes section) *****/ 


    &-quotes {
      font-family: $font-loto;
      font-weight: 400;
      font-size: 32px;
      line-height: 46px;
      color: $color_white;

      @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
        font-size: 24px;
      }

      @include maxbreakpoint($breakpoint_mobile-l) {      /* Change style if width on screen is different */
        font-size: 16px;
      }
    }

     /***** Text style (Review section) *****/ 


    &-author {
      font-family: $font-playfair;
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: $color_white;

      @include maxbreakpoint($breakpoint_tablet-l) {      /* Change style if width on screen is different */
        font-size: 18px;
      }
    }

    &--review {
      font-weight: 400;
      font-size: 16px;
      opacity: 0.8;
      color: $color_white;
    }

     /***** Text style (Input) *****/ 


    &-input {
      font-family: $font-playfair;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: $color_dark;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
        color: $color_white;
      }
    }

     /***** Text style (Footer) *****/ 


    &-footer {
      font-family: $font-loto;
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      opacity: 0.6;
      color: $color_dark;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */
        color: $color_white;
      }

      &--bold {
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.08em;
        opacity: 1;
        margin-left: 12px;
      }
    }
  }
}