$breakpoint_desktop: 1024px;
$breakpoint_tablet: 768px;

$color_white: #FFF;
$color_dark: #262A3F;
$color_grey: #E4E4E4;
$color_grey-dark: #515773;
$color_blue: #689FF2;
$color_blue-deep: #161926;
$color_orange: #F1897B;
$color_green: #85BBB1;
$color_green-neon: #53F3CD;

$font-playfair: 'Playfair Display', serif;
$font-loto: 'Lato', sans-serif;






