.solis {
  &__header {
    height: 80px;
    margin-bottom: 150px;

    /** Blur Effect **/ 

    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);

    @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
      background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
    }

    &-navbar {
      height: 100%;

      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
      }

      &-item {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          bottom: -4px;
          left: 0;
          height: 3px;
          width: 0%;
          background: $color_orange;
          opacity: 0.3;
          transition: .4s;

          @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
            background: linear-gradient(96.73deg, $color_green-neon 6.73%, rgba(83, 243, 205, 0) 116.9%);
            opacity: 0.3;
          }
        }

        &:hover,
        &:focus {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
