.solis__quotes {
  margin-bottom: 120px;

  &-block {
    min-height: 400px;
    background-image: url(../imgs/quote-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 160px;

    @include maxbreakpoint($breakpoint_tablet-l) {      /* Change style if width on screen is different */
      padding: 50px 80px;
      min-width: 250px
    }

    @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
      padding: 50px 20px 50px 60px;
    }
  }

  &-title {
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
  }

  /** Quotes icon **/

  &-icon {
    position: absolute;
    transform: translateX(-60px) translateY(-25px); 

    @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
      path {
        stroke: $color_green-neon;
      }
    }
  }
}