.solis {
  &__statistic {
    transform: translateY(-310px);
    margin-bottom: -310px;
    padding-bottom: 120px;

    &-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-self: center;

      margin-left: -170px;
      padding: 45px 0;

      background-color: $color_white;
      opacity: .9;

      @include appearance(dark) {      /* Change style if appearance on system is 'Dark' */ 
        background-color: $color_blue-deep;
      }

      @include maxbreakpoint($breakpoint_laptop-l) {      /* Change style if width on screen is different */
        margin-left: -340px;
      }

      @include maxbreakpoint($breakpoint_laptop-s) {      /* Change style if width on screen is different */
        margin-left: -480px;
      }

      @include maxbreakpoint($breakpoint_tablet-l) {      /* Change style if width on screen is different */
        margin: 0;
      }

      @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
        grid-template-columns: 1fr;
      }

      &-figures {
        padding: 0 56px;

        &-item {
          position: relative;
          margin-bottom: 80px;

          &::after {
            position: absolute;
            content: "";

            bottom: -40px;
            left: 0;
            right: 0;

            width: 100px;
            height: 1px;
            
            margin: 0 auto;
            background-color: $color_green;
          }

          &:last-child {
            @include minbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
              margin: 0;
            }

            &::after {
              @include minbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
                content: none;
              }
            }
          }
        }
      }
    }

    &-image {

      @include maxbreakpoint($breakpoint_tablet-l) {      /* Change style if width on screen is different */
        display: none;
      }
    }

    &-title {
      min-width: 270px;
      margin-bottom: 12px;
    }

    &-textbox {
      @include maxbreakpoint($breakpoint_tablet-s) {      /* Change style if width on screen is different */
        padding: 0 20px;
      }
    }

    &-text-1 {
      margin-bottom: 30px;
    }

    &-text-2 {
      margin-bottom: 50px;
    }
  }
}